<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jiayuan.jr.kotlinmvpmodule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--android:name=".app.EnvelopeApplication"-->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:networkSecurityConfig="@xml/network_security_config">
        <activity
                android:name=".mvp.ui.activity.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录页面 -->
        <activity
                android:name=".mvp.ui.activity.LoginActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait" />
        <!-- 祖册页面 -->
        <activity
                android:name=".mvp.ui.activity.SignUpActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".mvp.ui.activity.ReadBubbleActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/UCropActivityTheme"/>


        <service android:name=".mvp.ui.service.DownloadService" />

        <meta-data
                android:name="com.jiayuan.jr.kotlinmvpmodule.app.GlobalConfiguration"
                android:value="ConfigModule" />

        <meta-data
                android:name="design_width_in_dp"
                android:value="768"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="1280"/>

    </application>

</manifest>